 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <title>PMMap</title>
    <link href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic" rel="stylesheet">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- ionicmaterial css start -->
    <!-- <link href="lib/ion-md-input/css/ion-md-input.min.css" rel="stylesheet"> -->
    <!-- <link href="lib/ionic-material/ionic.material.min.css" rel="stylesheet"> -->
    <!-- ionicmaterial css end -->

    <link href="styles/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="styles/ionic.app.css" rel="stylesheet">
    -->


    
    <!-- ionic/angularjs js -->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- ionicmaterial js start -->
    <!-- <script src="lib/ionic-material/ionic.material.min.js"></script> -->
    <!-- <script src="lib/ion-md-input/js/ion-md-input.min.js"></script> -->
    <!-- ionicmaterial js start -->

    <!-- cordova script (this will be a 404 during development) -->
    <!-- <script src="cordova.js"></script> -->
    



    <!-- Google Maps Service -->
   
    <!-- your app's js -->
    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/configuration.js"></script>
    <script src="scripts/authService.js"></script>
    <script src="scripts/rootControllers.js"></script>
    <script src="scripts/loginControllers.js"></script>
    <script src="scripts/positionsControllers.js"></script>
    <script src="scripts/segnalazioniControllers.js"></script>
    <script src="scripts/brogliaccioControllers.js"></script>
    <script src="scripts/reportControllers.js"></script>
    <script src="scripts/mapsControllers.js"></script>
    <script src="scripts/cordovaControllers.js"></script>
    <script src="scripts/filters.js"></script>
    <script src="scripts/directives.js"></script>  
    <!-- endbuild -->
  </head>


<body ng-app="myApp" ng-controller="AppCtrl" layout="row" ng-cloak>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
          <user-avatar></user-avatar>
          <span></span>
          <div>Firstname Lastname</div>
          <div>email@domainname.com</div>
        </div>
      </md-toolbar>
      <md-list>
      <md-item ng-repeat="item in menu">
        <a>
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <md-icon md-svg-icon="{{item.icon}}"></md-icon>
            </div>
            <div class="inset">{{item.title}}
            </div>
          </md-item-content>
        </a>
      </md-item>
      <md-divider></md-divider>
      <md-subheader>Management</md-subheader>
      <md-item ng-repeat="item in admin">
        <a>
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <md-icon md-svg-icon="{{item.icon}}"></md-icon>
            </div>
            <div class="inset">{{item.title}}
            </div>
          </md-item-content>
        </a>
      </md-item>
<md-item>
<a class="md-button md-default-theme" 
   ng-href="#/help1" 
   ng-click="focusSection()" tabindex="0" 
   href="#/help1"><span class="ng-binding ng-scope">
  HELP
  </span><!-- ngIf: isSelected() -->
</a>
</md-item>

<md-item>
<a class="md-button md-default-theme" 
   ng-href="#/maps1" 
   ng-click="focusSection()" tabindex="0" 
   href="#/maps1"><span class="ng-binding ng-scope">
  <md-icon md-svg-icon="share"></md-icon>MAPS1
  </span><!-- ngIf: isSelected() -->
</a>
</md-item>

<md-item>
<a class="md-button md-default-theme" 
   ng-href="#/positions" 
   ng-click="go('positions')" 
   tabindex="0" 
   href="#/positions"><span class="ng-binding ng-scope">
  Positions
  </span><!-- ngIf: isSelected() -->
</a>
</md-item>

    </md-list>
    </md-sidenav>


 <div layout="column" tabIndex="-1" role="main" flex>
    
    <md-content ng-view md-scroll-y flex layout-padding>
        <ui-view></ui-view>
    </md-content>
  </div>
    

</body>
</html>